
body {
  padding: 25px;
}


#header {
  display: block;
  font-size: 70px;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: white;
  padding-top: 30px;
}

#tweetList {
  margin-top: 110px;
}

.message {
  font-size: 20px;
  background-color: #0AA3E8;
  height: 75px;
  width: 525px;
  color: white;
  padding: 15px;
  margin: auto;
  margin-bottom: 10px;
  list-style: none;
}

.time {
  margin: auto;
  width: 490px;
  font-size: 12px;
  margin-bottom: 30px;
  margin-top: -35px;
  color: white;
  list-style: none;
}

#newTweets {
  display: none;
  margin: auto;
  height: 30px;
  position: fixed center;
  background-color: #52FFBD;
  color: #364391;
  font-size: 13px;
  margin-top: 110px;
}

.user {
  cursor: pointer;
}
