
h1 {
  font-size: 70px;
  margin-left: 150px;
}

.message {
  margin: 10px;
  margin-left: 40px;
  font-size: 20px;
  background-color: #2DA2E8;
  height: 75px;
  width: 525px;
  color: white;
  padding: 15px;
}

.time {
  font-size: 12px;
  margin-bottom: 30px;
  margin-left: 60px;
  margin-top: -35px;
  color: white;
}
